# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Packages
*.egg
*.egg-info
dist/
build/

# IDE-specific files
.idea/
.vscode/

# Output files and temporary files
template_files/__pycache__/
template_files/*.pyc

# Scripts
*.sh

# Operating system files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
